.activity-card {
    background-color: #EFE8D2;
    border-radius:24px;
    margin: 12px 16px;
    padding: 16px 16px 16px 16px; 
    display: flex;
    align-items: flex-start;
    gap: 16px;                                                                       
}

.activity-card-image {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 12px;
    flex-shrink: 0;
}

.activity-card-text {
    flex: 1;
    min-width: 0;
}