.popular-activities-container {
    display: flex;
    gap: 12px;
    overflow-x: auto;
    padding: 0 16px;
}

.popular-activities-tile {
    background-color: #EFE8D2;
    border-radius: 16px;
    padding: 12px;

    width: 42%;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    text-align: center;
}

@media (min-width: 640px) {
    .popular-activities-tile {
        width: 28%;
    }
}

.popular-activities-tile img {
    width: 100%;
    height: 60%;
    object-fit: contain;
    margin-bottom: 8px;
}

.popular-activities-title {
    margin: 0;
}